html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden; 
}


.header-top {
  position: fixed;
  width: 100%;
  background-color: #60fbbf;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px; /
}

.pagination img {
  width: 200px; 
}


.boton {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  background-color: #03b1c8;
}

.boton:hover {
  background-color: #0295a0;
}


main {
  margin-top: 80px; 
  padding: 20px;
  height: calc(100vh - 80px); 
  overflow: hidden;
  box-sizing: border-box;
}

ul#character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; 
  padding: 0;
  margin: 0;
  gap: 10px; 
}

.character-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: calc(20% - 10px); 
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: border-box;
}

.character-card img {
  max-width: 100%;
  border-radius: 8px;
}

.character-card h2, .character-card p {
  font-family: fantasy;
  margin: 5px 0;
}